/* button{
    background: black;
    color:white;
    box-shadow: 0ch;
} */
/* html,body {
    width:95%;
} */

.headeroptions{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    
}
.headeroptions button{
    width:6rem;
}

#toolbar2{
    /*width: 100rem;*/
    background-color: grey;
    
} 
.fixed-menu1{
    position: sticky;
    top: 0;
    z-index:1;
    
    

}

#top-tool-bar{
    display: flex;
    flex-wrap: wrap;
}
/* .example-card{
    max-width:300px;
    display: inline-block;
} */